.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 891px) {
  .form {
    flex-direction: column;
  }
}

.form input {
  display: flex;
  padding: 0.5rem;
  border-radius: 10vh;
  border: none;
}

.button {
  padding: 0.7rem;
  background-color: #fff;
  border: 5px solid #222d3d;
  border-radius: 100vh;
  color: black;
  font-weight: 900;
}

.button:hover {
  background-color: #cccccc;
}

.insideForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 829px) {
  .insideForm {
    flex-direction: column;
  }
}


