:root {
  --LightGrey: hsl(217, 12%, 63%);
}

.number {
  color: var(--LightGrey);
  text-align: center;
  /* width: 3rem; */
  padding: 1rem;
  border: 2px solid red;
  border-radius: 50%;
}
